{{#if (has-block)}}
  <div class="data-table-header {{unless this.selectionIsEmpty " selected"}}">
    {{#if this.enableSearch}}
      {{text-search filter=this.filter auto=this.autoSearch wait=this.searchDebounceTime}}
    {{/if}}
    {{yield (hash
        menu=(component "data-table-menu" data-table=this)
        )
        this}}
  </div>
  {{yield (hash
      content=(component "data-table-content" content=@content noDataMessage=this.noDataMessage enableSelection=this.enableSelection enableLineNumbers=this.enableLineNumbers onClickRow=@onClickRow data-table=this)
      )
      this}} {{!-- TODO: not sure about onClickRow --}}
{{else}}
  {{#if this.enableSearch}}
    <div class="data-table-header">
      <div class="data-table-menu">
        {{!-- text-search filter=this.filter auto=this.autoSearch --}}
      </div>
    </div>
  {{/if}}

  <DataTableContent
    @content={{@content}}
    @noDataMessage={{this.noDataMessage}}
    @enableSelection={{this.enableSelection}}
    @enableLineNumbers={{this.enableLineNumbers}}
    @onClickRow={{@onClickRow}}
    @updateSort={{this.updateSort}}
    @data-table={{this}} />  {{!-- TODO: not sure about onClickRow --}}

  {{!-- component "data-table-content" content=@content noDataMessage=this.noDataMessage enableSelection=this.enableSelection enableLineNumbers=this.enableLineNumbers onClickRow=@onClickRow data-table=this --}}
{{/if}}

{{#if @content}}
  <NumberPagination
    @page={{@page}}
    @size={{@size}}
    @nbOfItems={{@content.length}}
    @sizeOptions={{this.sizeOptions}}
    @total={{@content.meta.count}}
    @links={{@content.meta.pagination}}
    @updatePage={{@updatePage}}
    @updateSize={{this.updatePageSize}}
  />
{{/if}}
