{{#if (has-block)}}
  <div class="data-table-header {{unless this.selectionIsEmpty " selected"}}">
    {{#if this.enableSearch}}
      {{text-search filter=this.filter auto=this.autoSearch wait=this.searchDebounceTime}}
    {{/if}}
    {{yield (hash
        menu=(component "data-table-menu" data-table=this)
        )
        this}}
  </div>
  {{yield (hash
      content=(component "data-table-content" content=@content noDataMessage=this.noDataMessage enableSelection=this.enableSelection enableLineNumbers=this.enableLineNumbers onClickRow=@onClickRow data-table=this)
      )
      this}} {{!-- TODO: not sure about onClickRow --}}
{{else}}
  {{#if this.enableSearch}}
    <div class="data-table-header">
      <div class="data-table-menu">
        {{!-- text-search filter=this.filter auto=this.autoSearch --}}
      </div>
    </div>
  {{/if}}
  {{!-- component "data-table-content" content=@content noDataMessage=this.noDataMessage enableSelection=this.enableSelection enableLineNumbers=this.enableLineNumbers onClickRow=@onClickRow data-table=this --}} {{!-- TODO: not sure about onClickRow --}}
{{/if}}

{{#if @content}}
  {{!-- number-pagination
      page=this.page size=this.size nbOfItems=@content.length sizeOptions=this.sizeOptions
      total=@content.meta.count links=@content.meta.pagination --}}
{{/if}}
