<tbody>
  {{#if @data-table.isLoading}}
    <tr><td colspan="100%" class="is-loading-data">Loading...</td></tr>
  {{else}}
    {{#if @content}}
      {{#each this.wrappedItems as |wrapper index|}}
        <tr role="button"
          class="{{if (includes wrapper.item @data-table.selection) "selected"}} {{if @onClickRow "clickable"}}"
          {{on "click" (fn this.onClickRow wrapper.item)}}>
          {{#if @enableSelection}}
            <td class="center">
              {{input type="checkbox" checked=wrapper.isSelected click=(fn this.updateSelection wrapper)}}
            </td>
          {{/if}}
          {{#if @enableLineNumbers}}
            <td>{{add index offset}}</td>
          {{/if}}
          {{#if (has-block)}}
            {{yield wrapper.item}}
          {{else}}
            <DefaultDataTableContentBody @item={{wrapper.item}} @data-table={{@data-table}} />
          {{/if}}
        </tr>
      {{/each}}
    {{else}}
      <tr><td colspan="100%" class="no-data-message"><p>{{@noDataMessage}}</p></td></tr>
    {{/if}}
  {{/if}}
</tbody>
