{{! template-lint-disable table-groups }}
<div class="data-table-content">
  <table class="data-table {{@data-table.tableClass}}">
    {{#if (has-block)}}
      {{yield (hash
          header=(component "data-table-content-header" enableSelection=@enableSelection enableLineNumbers=@enableLineNumbers data-table=@data-table)
          body=(component "data-table-content-body" content=@content enableSelection=@enableSelection enableLineNumbers=@enableLineNumbers noDataMessage=@noDataMessage onClickRow=@onClickRow data-table=@data-table)
          )}}
    {{else}}
      <DataTableContentHeader
        @enableSelection={{@enableSelection}}
        @enableLineNumbers={{@enableLineNumbers}}
        @updateSort={{@updateSort}}
        @data-table={{@data-table}} />
      {{!-- TODO: implement me
        <DataTableContentBody
        @content={{@content}}
        @enableSelection={{@enableSelection}}
        @enableLineNumbers={{@enableLineNumbers}}
        @noDataMessage={{@noDataMessage}}
        @onClickRow={{@onClickRow}}
        @data-table={{@data-table}} />
        --}}
    {{/if}}
  </table>
</div>