{{#each content as |item|}}
  <tr class="{{if item.isSelected 'selected'}}">
    {{#if enableSelection}}
      <td class="center">{{md-check checked=item.isSelected}}</td>
    {{/if}}
    {{#if hasBlock}}
      {{yield item}}
    {{else}}
      {{default-data-table-content-body item=item data-table=data-table}}
    {{/if}}
  </tr>
{{/each}}
