{{#if hasBlock}}
  <div class="data-table-header {{unless selectionIsEmpty " selected"}}">
    {{#if enableSearch}}
      {{text-search filter=filter auto=autoSearch wait=searchDebounceTime}}
    {{/if}}
    {{yield (hash
        menu=(component "data-table-menu" data-table=this)
        )
        this}}
  </div>
  {{yield (hash
      content=(component "data-table-content" content=content noDataMessage=noDataMessage enableSelection=enableSelection enableLineNumbers=enableLineNumbers onClickRow=(optional onClickRow) data-table=this)
      )
      this}}
{{else}}
  {{#if enableSearch}}
    <div class="data-table-header">
      <div class="data-table-menu">
        {{text-search filter=filter auto=autoSearch}}
      </div>
    </div>
  {{/if}}
  {{component "data-table-content" content=content noDataMessage=noDataMessage enableSelection=enableSelection enableLineNumbers=enableLineNumbers onClickRow=(optional onClickRow) data-table=this}}
{{/if}}

{{#if content}}
  {{number-pagination
      page=page size=size nbOfItems=content.length sizeOptions=sizeOptions
      total=content.meta.count links=content.meta.pagination}}
{{/if}}
