<table class="data-table">
  {{#if hasBlock}}
    {{#if content}}
      {{yield (hash
        header=(component 'data-table-content-header' enableSelection=enableSelection enableLineNumbers=enableLineNumbers data-table=data-table)
        body=(component 'data-table-content-body' content=content enableSelection=enableSelection enableLineNumbers=enableLineNumbers data-table=data-table)
          )}}
    {{else}}
      {{yield (hash
          header=(component 'data-table-content-header' enableSelection=enableSelection enableLineNumbers=enableLineNumbers data-table=data-table) )}}
      <tr><td colspan="100%" class="no-data-message">{{noDataMessage}}</td></tr>
    {{/if}}
  {{else}}
      {{component 'data-table-content-header' enableSelection=enableSelection enableLineNumbers=enableLineNumbers data-table=data-table}}
    {{#if content}}
      {{component 'data-table-content-body' content=content enableSelection=enableSelection enableLineNumbers=enableLineNumbers data-table=data-table}}
    {{else}}
      <tr><td colspan="100%" class="no-data-message">{{noDataMessage}}</td></tr>
    {{/if}}
  {{/if}}
</table>
