{{#if rows}}
  <table class="data-table responsive-table">
    {{#if hasBlock}}
      {{yield (hash
        header=(component 'data-table-content-header' enableSelection=enableSelection data-table=data-table)
        body=(component 'data-table-content-body' rows=rows enableSelection=enableSelection data-table=data-table)
        )}}
    {{else}}
      {{component 'data-table-content-header' enableSelection=enableSelection data-table=data-table}}
      {{component 'data-table-content-body' rows=rows enableSelection=enableSelection data-table=data-table}}
    {{/if}}
  </table>
{{else}}
  <p>{{noDataMessage}}</p>
{{/if}}
