{{#if (has-block)}}
  <div class="data-table-header {{unless this.selectionIsEmpty " selected"}}">
    {{#if this.enableSearch}}
      {{text-search filter=this.filter auto=this.autoSearch wait=this.searchDebounceTime}}
    {{/if}}
    {{yield (hash
        menu=(component "data-table-menu" data-table=this)
        )
        this}}
  </div>
  {{yield (hash
      content=(component "data-table-content" content=this.content noDataMessage=this.noDataMessage enableSelection=this.enableSelection enableLineNumbers=this.enableLineNumbers onClickRow=(optional this.onClickRow) data-table=this)
      )
      this}}
{{else}}
  {{#if this.enableSearch}}
    <div class="data-table-header">
      <div class="data-table-menu">
        {{text-search filter=this.filter auto=this.autoSearch}}
      </div>
    </div>
  {{/if}}
  {{component "data-table-content" content=this.content noDataMessage=this.noDataMessage enableSelection=this.enableSelection enableLineNumbers=this.enableLineNumbers onClickRow=(optional this.onClickRow) data-table=this}}
{{/if}}

{{#if this.content}}
  {{number-pagination
      page=this.page size=this.size nbOfItems=this.content.length sizeOptions=this.sizeOptions
      total=this.content.meta.count links=this.content.meta.pagination}}
{{/if}}
