{{#if selectionIsEmpty}}
  <div class="data-table-header">
    {{#each headerMenu as |item|}}
      {{#if item.action}}
	<a class="waves-effect waves-light btn-flat" {{action 'apply' item.action}}>{{item.label}}</a>
      {{else if item.link}}
	{{#link-to item.link class="waves-effect waves-light btn-flat"}}{{item.label}}{{/link-to}}
      {{/if}}
    {{/each}}
  </div>
{{else}}
  <div class="data-table-header selected">
    <span class="item-count">{{selectionCount}} item(s) selected</span>
    <a class="waves-effect waves-light btn-flat" {{action 'clearSelection'}}>Cancel</a>
    {{#each selectionMenu as |item|}}
      {{#if item.action}}
	<a class="waves-effect waves-light btn-flat" {{action 'applyOnSelection' item.action selection}}>{{item.label}}</a>
      {{else if item.link}}
	{{#link-to item.link class="waves-effect waves-light btn-flat"}}{{item.label}}{{/link-to}}
      {{/if}}
    {{/each}}
  </div>
{{/if}}

{{#if rows}}
  <table class="data-table responsive-table">
    <thead>
      <tr>
	<th><!-- Checkbox --></th>
	{{#each columns as |c|}}
	  {{#if c.sortable}}
	    {{th-sortable field=c.field current=sort label=c.label}}
	  {{else}}
	    <th>{{c.label}}</th>
	  {{/if}}
	{{/each}}
	<th><!-- Context menu --></th>
      </tr>
    </thead>
    <tbody>
      {{#each rows as |r|}}
	<tr class="{{if r.isSelected 'selected'}}">
	  <td class="center">{{md-check checked=r.isSelected}}</td>
	  {{#each columns as |c|}}
	    {{#if c.isDate}}
	      <td>{{moment-format (get r c.field) dateFormat}}</td>
	    {{else}}
	      <td>{{get r c.field}}</td>
	    {{/if}}
	  {{/each}}
	  <td>
	    {{#if contextMenu}}
	      {{#context-menu}}
		<ul class="collection">
		  {{#each contextMenu as |item|}}
		    {{#if item.action}}
		      <a class="collection-item" {{action 'applyOnRow' item.action r}}>{{item.label}}</a> 
		    {{else if item.link}}
		      {{#link-to item.link r class="collection-item"}}{{item.label}}{{/link-to}}
		    {{/if}}
		  {{/each}}
		</ul>
	      {{/context-menu}}
	    {{/if}}
	  </td>
	</tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>{{noDataMessage}}</p>
{{/if}}
