{{#if this.data-table.isLoading}}
  <tr><td colspan="100%" class="is-loading-data">Loading...</td></tr>
{{else}}
  {{#if this.content}}
    {{#each this.wrappedItems as |wrapper index|}}
      <tr role="button" class="{{if (includes wrapper.item this.data-table.selection) "selected"}} {{if this.onClickRow "clickable"}}" {{on "click" (fn (optional this.onClickRow) wrapper.item)}}>
        {{#if this.enableSelection}}
          <td class="center">
            <Input @type="checkbox" @checked={{wrapper.isSelected}} {{on "click" (action "updateSelection" wrapper)}} />
          </td>
        {{/if}}
        {{#if this.enableLineNumbers}}
          <td>{{add index this.offset}}</td>
        {{/if}}
        {{#if (has-block)}}
          {{yield wrapper.item}}
        {{else}}
          {{default-data-table-content-body item=wrapper.item data-table=this.data-table}}
        {{/if}}
      </tr>
    {{/each}}
  {{else}}
    <tr><td colspan="100%" class="no-data-message"><p>{{this.noDataMessage}}</p></td></tr>
  {{/if}}
{{/if}}
