{{#if data-table.isLoading}}
  <tr><td colspan="100%" class="is-loading-data">Loading...</td></tr>
{{else}}
  {{#if content}}
    {{#each wrappedItems as |wrapper index|}}
      <tr role="button" class="{{if (includes wrapper.item data-table.selection) "selected"}} {{if onClickRow "clickable"}}" onclick={{action (optional onClickRow) wrapper.item}}>
        {{#if enableSelection}}
          <td class="center">
            {{input type="checkbox" checked=wrapper.isSelected click=(action "updateSelection" wrapper)}}
          </td>
        {{/if}}
        {{#if enableLineNumbers}}
          <td>{{add index offset}}</td>
        {{/if}}
        {{#if hasBlock}}
          {{yield wrapper.item}}
        {{else}}
          {{default-data-table-content-body item=wrapper.item data-table=data-table}}
        {{/if}}
      </tr>
    {{/each}}
  {{else}}
    <tr><td colspan="100%" class="no-data-message"><p>{{noDataMessage}}</p></td></tr>
  {{/if}}
{{/if}}
