<div>
  <div class="data-table-pagination-left">
    Displaying {{startItem}}-{{endItem}}
    {{#if total}} of {{total}}{{/if}}
    {{#if sizeOptions}}
      |
      <select onchange={{action (mut size) value="target.value"}}>
        {{#each sizeOptions as |sizeOption|}}
          <option value={{sizeOption}} selected={{eq size sizeOption}}>{{sizeOption}}</option>
        {{/each}}
      </select> per page
    {{/if}}
  </div>
  {{#if hasMultiplePages}}
    <div class="data-table-pagination-right">
      <button {{action "changePage" links.first}} disabled={{isFirstPage}}>First</button>
      <button {{action "changePage" links.prev}} disabled={{isFirstPage}}>Previous</button>
      <select onchange={{action (mut currentPage) value="target.value"}}>
        {{#each pageOptions as |sizeOption|}}
          <option value={{sizeOption}} selected={{eq currentPage sizeOption}}>{{sizeOption}}</option>
        {{/each}}
      </select>
      <button {{action "changePage" links.next}} disabled={{isLastPage}}>Next</button>
      <button {{action "changePage" links.last}} disabled={{isLastPage}}>Last</button>
    </div>
  {{/if}}
</div>
