<div>
  <div class="data-table-pagination-left">
    Displaying {{this.startItem}}-{{this.endItem}}
    {{#if this.total}} of {{this.total}}{{/if}}
    {{#if this.sizeOptions}}
      |
      <select onchange={{action (mut this.size) value="target.value"}}>
        {{#each this.sizeOptions as |sizeOption|}}
          <option value={{sizeOption}} selected={{eq this.size sizeOption}}>{{sizeOption}}</option>
        {{/each}}
      </select> per page
    {{/if}}
  </div>
  {{#if this.hasMultiplePages}}
    <div class="data-table-pagination-right">
      <button disabled={{this.isFirstPage}} type="button" {{action "changePage" this.links.first}}>First</button>
      <button disabled={{this.isFirstPage}} type="button" {{action "changePage" this.links.prev}}>Previous</button>
      <select onchange={{action (mut this.currentPage) value="target.value"}}>
        {{#each this.pageOptions as |sizeOption|}}
          <option value={{sizeOption}} selected={{eq this.currentPage sizeOption}}>{{sizeOption}}</option>
        {{/each}}
      </select>
      <button disabled={{this.isLastPage}} type="button" {{action "changePage" this.links.next}}>Next</button>
      <button disabled={{this.isLastPage}} type="button" {{action "changePage" this.links.last}}>Last</button>
    </div>
  {{/if}}
</div>
