{{#if this.auto}}
  <Input @value={{this.value}} placeholder={{this.placeholder}} />
{{else}}
  <input value={{this.internalValue}} placeholder={{this.placeholder}} oninput={{action (mut this.internalValue) value="target.value"}}>
  <button type="button" {{action (mut this.filter) this.internalValue}}>Search</button>
{{/if}}
