{{! template-lint-disable no-action no-curly-component-invocation }}
{{page-title "Dummy"}}

<div class="layout-row flex layout-align-center">
  <div class="container">
    <h1 id="title">Ember Data Table demo</h1>
    <h2>Simple table</h2>
    <blockquote>Generated table header and body based on given <code>fields</code></blockquote>
    {{data-table content=this.model fields="firstName lastName age created modified" sort=this.sort page=this.page size=this.size filter=this.filter}}

    <h2>Semi-complex table</h2>
    <blockquote>Customized table header and body</blockquote>
    <DataTable @content={{this.model}} @sort={{this.sort}} @page={{this.page}} @size={{this.size}} @filter={{this.filter}} as |t|>
      <t.content as |c|>
        <c.header>
          {{th-sortable field="firstName" currentSorting=this.sort label="First name"}}
          {{th-sortable field="lastName" currentSorting=this.sort label="Last name"}}
          <th>Age</th>
          {{th-sortable field="created" currentSorting=this.sort label="Created"}}
          <th>Modified</th>
        </c.header>
        <c.body as |row|>
          <td>{{row.firstName}}</td>
          <td>{{row.lastName}}</td>
          <td>{{row.age}}</td>
          <td>{{row.created}}</td>
          <td>{{row.modified}}</td>
        </c.body>
      </t.content>
    </DataTable>

    <h2>Complex table</h2>
    <blockquote>Customized table including an action menu on top</blockquote>
    <DataTable @content={{this.model}} @sort={{this.sort}} @page={{this.page}} @size={{this.size}} @filter={{this.filter}} @autoSearch={{false}} @onClickRow={{action "clickRow"}} as |t|>
      <t.menu as |menu|>
        <menu.general>
          <button type="button" {{action "menuTest"}}>Export</button>
          <button type="button">Print</button>
        </menu.general>
        <menu.selected as |selection table|>
          <button type="button" {{action "selectionTest" selection table}}>Export</button>
        </menu.selected>
      </t.menu>
      <t.content as |c|>
        <c.header>
          {{th-sortable field="firstName" currentSorting=this.sort label="First name"}}
          {{th-sortable field="lastName" currentSorting=this.sort label="Last name"}}
          <th>Age</th>input
          {{th-sortable field="created" currentSorting=this.sort label="Created"}}
          <th>Modified</th>
          <th>
          </th>
        </c.header>
        <c.body as |row|>
          <td>{{row.firstName}}</td>
          <td>{{row.lastName}}</td>
          <td>{{row.age}}</td>
          <td>{{row.created}}</td>
          <td>{{row.modified}}</td>
          <td><button type="button" {{action "test" row}}>Info</button></td>
        </c.body>
      </t.content>
    </DataTable>

    <h2>Internal variables</h2>
    <ul>
      <li>Sort: {{this.sort}}</li>
      <li>Page: {{this.page}}</li>
      <li>Size: {{this.size}}</li>
      <li>Filter: {{this.filter}}</li>
    </ul>
  </div>
</div>
