<div class="layout-row flex layout-align-center">
  <div class="container">
  <h1 id="title">Ember Data Table demo</h1>

  <h2>Simple table</h2>
  <blockquote>Generated table header and body based on given <code>fields</code></blockquote>
  {{data-table content=model fields="firstName lastName age created modified" sort=sort page=page size=size filter=filter}}

  <h2>Semi-complex table</h2>
  <blockquote>Customized table header and body</blockquote>
  {{#data-table content=model sort=sort page=page size=size filter=filter as |t|}}
    {{#t.content as |c|}}
      {{#c.header}}
        {{th-sortable field='firstName' currentSorting=sort label='First name'}}
        {{th-sortable field='lastName' currentSorting=sort label='Last name'}}
        <th>Age</th>
        {{th-sortable field='created' currentSorting=sort label='Created'}}
        <th>Modified</th>
      {{/c.header}}
      {{#c.body as |row|}}
        <td>{{row.firstName}}</td>
        <td>{{row.lastName}}</td>
        <td>{{row.age}}</td>
        <td>{{row.created}}</td>
        <td>{{row.modified}}</td>
      {{/c.body}}
    {{/t.content}}
  {{/data-table}}

  <h2>Complex table</h2>
  <blockquote>Customized table including an action menu on top</blockquote>
  {{#data-table content=model sort=sort page=page size=size filter=filter autoSearch=false onClickRow=(action "clickRow") as |t|}}
    {{#t.menu as |menu|}}
      {{#menu.general}}
        <button {{action "menuTest"}}>Export</button>
        <button>Print</button>
      {{/menu.general}}
      {{#menu.selected as |selection table|}}
        <button {{action "selectionTest" selection table}}>Export</button>
      {{/menu.selected}}
    {{/t.menu}}
    {{#t.content as |c|}}
      {{#c.header}}
        {{th-sortable field='firstName' currentSorting=sort label='First name'}}
        {{th-sortable field='lastName' currentSorting=sort label='Last name'}}
        <th>Age</th>
        {{th-sortable field='created' currentSorting=sort label='Created'}}
        <th>Modified</th>
        <th><!-- Details icon --></th>
      {{/c.header}}
      {{#c.body as |row|}}
        <td>{{row.firstName}}</td>
        <td>{{row.lastName}}</td>
        <td>{{row.age}}</td>
        <td>{{row.created}}</td>
        <td>{{row.modified}}</td>
        <td><button {{action "test" row}}>Info</button></td>
      {{/c.body}}
    {{/t.content}}
  {{/data-table}}

  <h2>Internal variables</h2>
  <ul>
    <li>Sort: {{sort}}</li>
    <li>Page: {{page}}</li>
    <li>Size: {{size}}</li>
    <li>Filter: {{filter}}</li>
  </ul>
  </div>
</div>
